.Main {
  position: relative;
  border-radius: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  background-color: white;
  height: 90vh;
  width: 70vw;
}

#view {
  display: flex;
  justify-content: center;
}
